[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylama = "*"
pytest-cov = "*"
pytest-flakes = "*"
pytest-regressions = "*"
black = "*"
sphinx = "*"
doc8 = "*"

[packages]
schema = "*"
pyyaml = "*"
pysimpletabshellmenu = {editable = true,path = "."}

[pipenv]
allow_prereleases = true
